.skill-card {
    background: var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(2rem, 1.5625vw, 3rem);
    transition: 0.3s all ease-in-out;

    &:hover{
        transform: translateY(-5px);
    }

    .icon {
        width: clamp(6rem, 4.16666vw, 8rem);
        height: clamp(6rem, 4.16666vw, 8rem);
        margin-bottom: 1rem;
    }

    .name{
        font-size: clamp(1.4rem, 0.9375vw, 1.8rem);
        color: var(--white-color);
        font-weight: var(--font-weight-semi-bold);
        text-align: center;
    }

    .level{
        font-size: clamp(1rem, 0.625vw, 1.2rem);
        color: var(--white-color);
        font-weight: var(--font-weight-normal);
        text-align: center;
    }
}
