* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background-color: #0c0c0c;

    &.no-scroll {
        overflow: hidden !important;
        height: 100vh;
    }
}

::-webkit-scrollbar {
    width: 0.3rem;
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    -webkit-border-radius: 1rem;
}

::-webkit-scrollbar-corner {
    background: var(--secondary-color);
}