:root{
    /* Colors */
    --primary-color: #e43939;
    --secondary-color: #191921;
    --white-color: #fff;
    --black-color: #000;

    --page-width: 90vw;
    --padding-block: 5rem;
    --margin-sections: 5rem auto;

    /* Font */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}

@keyframes openMenuEntry {
    0% {
        display: none;
        opacity: 0;
        transform: translateX(100%);
    }

    1% {
        display: flex;
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        display: flex;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closeMenuExit {
    0%{
        opacity: 1;
        display: flex;
        transform: translateX(0);
    }

    99%{
        opacity: 1;
        display: flex;
        transform: translateX(100%);
    }

    100%{
        opacity: 0;
        display: none;
        transform: translateX(100%);
    }
}