.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #c82424, #e43939, #d43e3e);
    color: white;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &.show-back-to-top{
        opacity: 1;
        z-index: 2;
        pointer-events: auto;
        transform: translateY(0);
    }
}

